@model IEnumerable<VehicleRegisterApplication.Models.Truck>

@{
    ViewData["Title"] = "Trucks";
}

<h1>Trucks</h1>

<a asp-action="Index" class="btn btn-primary">Return to vehicle menu</a>

<p>
    <a asp-action="CreateTruck">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicleBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicleModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lisencePlateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numOfWheels)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehicleBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehicleModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lisencePlateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numOfWheels)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditVehicle", "Vehicle", new { id=item.id }) |
                    @Html.ActionLink("Details", "VehicleInfo", "Vehicle", new { id=item.id }) |
                    @Html.ActionLink("Delete", "DeleteVehicle", "Vehicle", new { id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
